.ButtonFetchListClass {
  text-align: center;
  background-color: blanchedalmond;
  flex: 1;
  padding: 1rem;
}

.ButtonFetchListClass__ul {
  display: flex;
  flex-direction: column;
  align-content: left;
  align-items: start;
}

.ButtonFetchListClass__features_list {
  display: flex;
  flex-direction: column;
  align-content: left;
  align-items: start;
  font-size: 0.8em;
}

