.ComponentXyz {
  text-align: center;
  background-color: blanchedalmond;
  flex: 1;
  padding: 1rem;
}

.ComponentXyz__logo {
  height: 40vmin;
}

.ComponentXyz__header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ComponentXyz__link {
  color: #09d3ac;
}

.ComponentXyz__button_NaN {
  cursor: pointer;
}

.ComponentXyz__button_NaN {
  cursor: not-allowed;
}
